.pagina{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

min-height:80vh;

background-image:linear-gradient(
rgba(0,0,0,0.5),
rgba(0,0,0,0.6)
),
url('../img/port1.jpg');

background-size:cover;
background-position:center;

color:white;
padding:3rem;
}

.pagina__titulo{
font-family:'Montserrat',sans-serif;
font-size:3.5rem;
font-weight:700;
margin-bottom:1rem;
}

.pagina__desc{
font-size:1.3rem;
max-width:600px;
margin-bottom:2rem;
}

.pagina__boton{
padding:1rem 2.5rem;
border-radius:30px;
border:2px solid white;
transition:.3s;
font-weight:600;
}

.pagina__boton:hover{
background:#ff7675;
border-color:#ff7675;
}

/* RESPONSIVE */

@media(max-width:768px){

.pagina__titulo{
font-size:2.2rem;
}

.pagina__desc{
font-size:1rem;
}

}